<!DOCTYPE html>
<html lang="">
<head>
    <meta charset="UTF-8" />
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>Administer Supervisor</title>
</head>
<body>
{% block idg_supervisor_content %}
{% endblock idg_supervisor_content %}
</body>
</html>